.window-header {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.05) 0%,
      rgba(255, 255, 255, 0) 49.51%
    ),
    linear-gradient(rgba(17, 17, 17, 0.5) 0%, rgba(17, 17, 17, 0) 100%);
  background-blend-mode: normal, darken;
  box-shadow:
    rgba(255, 255, 255, 0.15) 0px 1px 0px 0px,
    rgba(0, 0, 0, 0.15) 0px 4px 4px 4px;
  backdrop-filter: blur(6px);
  padding: 14px 20px;
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.window-header-title {
  max-width: calc(100% - 100px);
  overflow: hidden;

  .window-header-main-title {
    font-size: 20px;
    font-weight: bolder;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    max-width: 50vw;
  }

  .window-header-sub-title {
    font-size: 14px;
  }
}

.window-actions {
  display: inline-flex;
}

.window-action-button:not(:first-child) {
  margin-left: 10px;
}
